<% @page_title = t('home.helpus.title') %>
<% @meta_description = t('home.helpus.description') %>
<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="row centered">
    <dl class="sub-nav">
      <dd><a href="#donare"><%= t('.paragraph3.title') %></a></dd>
      <dd><a href="#linkback"><%= t('.paragraph5.title') %></a></dd>
    </dl>
  </div>
</div>

<div class="slide red">
  <div class="row centered">
    <div id="donare" class="fake_anchor"></div>
    <h2><%= t('.paragraph3.title') %></h2>
    <%= t('.paragraph3.content_html') %>

    <%= render 'donate_buttons' %>

    <%= t('.paragraph4.content_html', mail: "info@airesis.it") %>
  </div>
</div>

<%= render partial: 'linkback' %>
