<% @page_title = t('.title') %>
<% @meta_description = t('.description') %>

<div class="slide">
  <div class="row centered">

    <h2 id="opensource"><%= t('home.whowe.intro.title')%></h2>

    <%= t('home.whowe.intro.description_html', story: story_path) %>
  </div>

</div>

<div class="slide red">
  <div class="row centered">
    <div class="large-3  columns">
      <div class="image_volontario">
        <%= image_tag "volunteers/zanellato_luca.jpg", width: 150 %>
      </div>
      <div>
        <SCRIPT TYPE="text/javascript"> emailE=('luca.zanellato@' + 'airesis.it');document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')</SCRIPT>
      </div>
      <div>

      </div>
    </div>
    <div class="large-9 columns">
      <div class="descrizione_volontario">
        <h3>Luca Zanellato</h3>
        <h4><%= t('.zanellato_luca.title') %></h4>
        <%= t('.zanellato_luca.content_html') %>
      </div>
    </div>
  </div>
</div>

<div class="slide">
  <div class="row centered">
    <h2><%= t('.other_voluteers') %></h2>
    <div id="others" class="fake_anchor"></div>
    <p>Chiara Gianferrari, Fabio Ceccarelli, Fabio Palmieri, Giovani Spagnolo, Laura Maccioni, Luca Zanellato, Pietro
      Speroni di Fenizio</p>

    <h2><%= t('.contributors') %></h2>

    <p><%= t('.contributors_desc') %> </p>
    <p>
      Alessandro Socciarello, Andrea Papini, Aramis amantini,
      Danilo Mezgec, Enrico Mengotti, Fabio Alemagna, Fabrizio Traboni, Fatima Foudal,
      Francesco Ercavalierenero,Gabriella Creti, Gianmarco Barel, Heba Saied,
      Marco Zordan, Mauro Sasso, Matteo Martini, Massimo Pagani, Michelangelo Marchesi, Pietro Polimeri,
      Riccardo Leone, Rui Martins, Simone D'Errico, Veit Ladurner...</p>

    <h2><%= t('.special_thanks') %></h2>
    <ul>
      <li><%=t('.thanks_1_html')%>
      </li>
      <li><%=t('.thanks_2')%>
      </li>
      <li><%=t('.thanks_3')%>
      </li>
      <li><%=t('.thanks_4')%></li>
      <li><%=t('.thanks_5_html')%>
      </li>
      <li><%=t('.thanks_6_html')%>
      </li>
      <li><%=t('.thanks_7_html')%>
      </li>
      <li><%=t('.thanks_8_html')%>
      </li>
      <li>HomePage Design by <a title="Styleshout" href="http://www.styleshout.com/" target="_blank">Styleshout</a></li>
      <li><%=raw "Many thanks to <a href=\"https://www.getsentry.com\">GetSentry</a> which offers us a free plan."%> </li>
      <li><%=raw "All Geographical informations are provided for free by <a href=\"http://www.geonames.org\">geonames.org</a>."%> </li>
    </ul>
  </div>
</div>
